--extra-index-url https://download.pytorch.org/whl/cu124

numpy==2.5.1
pandas==3.0.5
matplotlib==3.11.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
torchmetrics==1.9.0
tqdm==4.70.0